*{
    padding: none;
    margin: none;
    box-sizing: border-box;
}
 body{
    overflow-y: hidden;
    height: 100vh;
    background-color: rgb(51, 49, 49);
 }
 a{
    text-decoration:none ;
    color: white;
}
 .container{
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.google-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-items: right; */
    gap: 20px;
    list-style: none;
    padding-left: 100px;
     cursor: pointer;
     
}
.google-input{
    height:50px;
    width: 700px;
    padding: 20px;
    border-radius: 45px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(94, 90, 90,0.045);
    cursor: pointer;
    color: blue;
    
}
.google-info{
    display: flex;
    align-items: center;
}
.glass{
    display: flex;
    justify-content: start;
    padding-right: 10px;
}
input{
    width: 100%;
    border: none;
    outline: none;
}

.microphone{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.camera{
    display: flex;
    
}

.info{
    /* height:50px;
    width: 500px;
    gap: 200px; */
    border: none;
    outline: none;
}  
#google-Image{
    margin-bottom:50px;
    /* padding-bottom: 40px; */
}

.apps{
    display: flex;
    gap: 45px;
    margin-top: 35px;
}
.app-icon-container{
    width: 100px;
    height: 100px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.app-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(68, 71, 70, 1.00);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon-container:hover{
    background-color: grey;
}